@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body {
        font-family: 'Bangers', cursive;
        font-size: 18px;
}
.btn {
    background-color: #f85b1a;
    color: white;
    border: none;
}
.btn:hover {
  background-color:  #f9ee54; 
  color: white;
}

.goku {
    padding-right: 15px;
    
}
.navbar-brand {
    padding-left: 5px;
    font-size: 30px;
}

.jumbotron {
    background-color:white;
    width: 100%;
}
body {
    background-color: white;
}
.navbar {
background: rgb(222,83,22);
background: linear-gradient(90deg, rgba(222,83,22,1) 17%, rgba(248,197,26,1) 87%) !important;
      font-weight: bold;
}
a:hover {
  background-color: #f3a903;
}
.page-footer{
background: rgb(222,83,22);
background: linear-gradient(90deg, rgba(222,83,22,1) 17%, rgba(248,197,26,1) 87%);
  position: absolute;
width: 100%;

}
.flex-center {
    display: flex;
  align-items: center;
  justify-content: center;
}
.card-text {
    height: 300px;
}
.cardimgs {
    height: 300px;
}
.footerbtn {
    color: black;
}


// .cardsbtn {
//     color:white !important;
// }